<h1 class="title">Exibindo Linha de Extensão</h1>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @research_line.nome %></dd>
</dl>

<hr />

<% if can? :edit, @research_line %>
  <%= link_to 'Editar', edit_research_line_path(@research_line), class: 'btn btn-warning' %>
<% end %>
<%= link_to 'Voltar', research_lines_path, class: 'btn btn-default' %>

<br />
<br />

<h4 class="title">Ações desta Linha de Extensão</h4>
<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Coordenador</th>
  </tr>
  <% if @research_line.projects.any? %>
    <% @research_line.projects.each do |p|%>
      <tr>
        <td><%= link_to p.nome, p %></td>
        <td><%= link_to p.coordenador.nome, p.coordenador %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>Nenhuma Ação vinculada a esse Grupo de Extensão</td>
    </tr>
  <% end %>
</table>
